.cgl-item-added,
[data-cgl-item-added] {
  position: relative;
}

.cgl-item-added .cgl-logo-container,
[data-cgl-item-added] .cgl-logo-container {
  position: absolute;
  left: 5px;
  top: 5px;
  cursor: help;
  z-index: 199;
  filter: drop-shadow(0 0 0.2rem rgb(54, 124, 204));
}

.cgl-item-added.cgl-left-10 .cgl-logo-container {
  left: 10px;
}

.cgl-item-added.cgl-top-15 .cgl-logo-container {
  top: 15px;
}

.cgl-item-added .cgl-logo-container.cgl-icon-small,
[data-cgl-item-added] .cgl-logo-container.cgl-icon-small {
  top: 0;
  left: 0;
}

.cgl-broadcasting.cgl-item-added .cgl-logo-container,
.cgl-broadcasting[data-cgl-item-added] .cgl-logo-container {
  top: 30px !important;
}

.cgl-broadcasting.cgl-item-added.cgl-broadcasting-large .cgl-logo-container {
  top: 40px !important;
}

.cgl-broadcasting.cgl-item-added .ds_flag ~ .cgl-logo-container,
.cgl-broadcasting[data-cgl-item-added] .ds_flag ~ .cgl-logo-container {
  top: 70px !important;
}

.cgl-logo-container.cgl-icon-x-large .cgl-logo {
  width: 64px !important;
  height: 64px !important;
}

.cgl-logo-container.cgl-icon-large .cgl-logo {
  width: 48px !important;
  height: 48px !important;
}

.cgl-logo-container.cgl-icon-medium .cgl-logo {
  width: 32px !important;
  height: 32px !important;
}

.cgl-logo-container.cgl-icon-small .cgl-logo {
  width: 24px !important;
  height: 24px !important;
}

/* Tooltip Start */

#clg-tooltip-container {
  position: fixed;
  z-index: 9999;
}

/* Similar to steam tooltip style */
#clg-tooltip-container .clg-tooltip-content {
  background: #c2c2c2;
  color: #3d3d3f;
  border-radius: 3px;
  padding: 5px;
  white-space: normal;
  box-shadow: 0 0 3px #000000;
  font-size: 11px;
  width: auto;
}

.cgl-logo-container .clg-tooltip-content {
  display: none;
}

.cgl-logo-container .clg-tooltip-content > div:first-child {
  margin-bottom: 5px;
}

/* Tooltip End */

/* Steam */
.cgl-item-added .ds_flag,
[data-cgl-item-added] .ds_flag {
  top: 40px;
}
