.leftcol {
  position: relative;
}

.cgl-logo-container {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: help;
}

img.cgl-logo {
  width: 64px;
  height: 64px;
}

.cgl-broadcasting .cgl-logo-container {
  top: 30px !important;
}
