.leftcol {
  position: relative;
}

.cgl-logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: help;
}

img.cgl-logo {
  width: 64px;
  height: 64px;
}

.broadcast_live_stream_icon ~ .cgl-logo-container {
  top: 30px;
}
